.img-container {
  margin: 10px;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0px;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0px;
}
.thumbnail-img {
  width: 90px;
  height: 90px;
  border-radius: 3px;
  margin: 0px;
}
